body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "FuturaStdBold";
  src: url(./assets/fonts/FuturaStdBold.woff);
}

@font-face {
  font-family: "FuturaStdBoldOblique";
  src: url(./assets/fonts/FuturaStdBoldOblique.woff);
}

@font-face {
  font-family: "FuturaStdBook";
  src: url(./assets/fonts/FuturaStdBook.woff);
}

/* quitar */
h5 {
  color: orange;
  font-family: "FuturaStdBold";
}

/* navbar */
.ripley__navbar {
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

.contenedor__logoRipley {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  width: 25px;
}

.img__logo {
  padding: 0px 30px;
}

.vl {
  border-left: 1px solid #fff;
  height: 90px;
}

.text__menu {
  color: #fff;
  margin: 0px;
  font-size: 1.0625rem;
}

.contenedor__menuRipley {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper__iconMenu {
  padding-left: 30px;
}

/* banner principal */
.contenedor__heroSection {
  background-image: url(./assets/img/header/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
}

.wrapper__heroSectionMobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.heroSection__img {
  margin-top: 50px;
  width: 180px;
}

.heroSection__title {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__electromovilidad {
  position: relative;
  right: 50px;
}

.texto__mueveteSustentable {
  position: relative;
  padding: 0px 50px;
}

.contenedor_verTodoElectromovilidad {
  text-align: center;
  border: 4px solid gold;
  margin: 0px 50px;
}

/* span de texto */
.texto__muevete {
  color: #fff;
  font-family: "FuturaStdBold";
}

.texto__sustentable {
  color: gold;
  padding-left: 20px;
  font-family: "FuturaStdBoldOblique";
}

.texto__verTodoElectromovilidad {
  font-family: "FuturaStdBold";
  color: gold;
}

.ripley__heroSection {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* botonera central */
.contenedor__botonera {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn__scooters,
.btn__moto {
  background: olivedrab;
  width: 100%;
  height: 120px;
}

.btn__bicicletas,
.btn__accesorios {
  background: orangered;
  width: 100%;
  height: 120px;
}

.icon__scooter,
.icon__bicicleta,
.icon__moto,
.icon__accesorio {
  max-width: 100%;
  padding-top: 20px;
}

.btn__scooters,
.btn__bicicletas,
.btn__moto,
.btn__accesorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texto_categoria {
  text-align: center;
  font-family: "FuturaStdBold";
  font-size: 14PX;
  color: #fff;
}

/* titulo/contenido */

.contenedor__tituloContenido{
  margin: 30px;
}

.tituloContenido__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.contenido__scooterElectrico{
  margin: 0px;
  padding: 0px 20px;
  text-align: center;
  font-family: "FuturaStdBold";
}

/* banner interno-scooters */
.banner__img{
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__interno{
  max-width: 100%;
}

/* primer carousel-scooter uno */
.contenedor__firstCarousel {
  position: relative;
}

.contenedor__carouselPrimeroScooter {
  background: aqua;
  height: 350px;
  width: 90%;
  position: absolute;
  left: 20px;
  right: 20px;
}

.contenedor__background {
  height: 380px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.backgroundGris {
  height: 100px;
  width: 100%;
  background: gainsboro;
}

/* titulo-Lo mejor en movilidad sostenible */
.movilidadSostenible__titulo {
  text-align: center;
  margin: 30px 0px;
}

.texto__loMejorEn{
  font-size: 30px;
  font-family: "FuturaStdBold";
  color: gold;
}

.texto__movilidadSostenible{
  font-family: "FuturaStdBook";
  color: purple;

}

/* segundo carousel-scooter dos */
.contenedor__carouselSegundoScooter {
  background: aquamarine;
  height: 350px;
  margin: 0px 10px;
}

/* Desktop */
.contenedor__verEspeciales,
.contenedor__categorias,
.ripley__navbarDesktop,
.contenedor__heroSectionDesktop,
.contenedor__tituloContenidoDesktop,
.contenedor__bannerCarousel {
  display: none;
}

@media (min-width: 800px) {
  /* header inicial */
  .contenedor__verEspeciales {
    display: block;
    width: 100%;
    height: 50px;
    background: goldenrod;
  }

  .verEspeciales__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px;
  }

  .contenedor__categorias {
    display: block;
    width: 100%;
    height: 50px;
    background: gray;
  }

  .categorias__section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* revisar esta medida */
    margin-left: 200px;
  }

  .categoria__header {
    padding: 0px 20px;
  }

  /* navbar */
  .ripley__navbar {
    display: none;
  }

  .ripley__navbarDesktop {
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* banner- hero section */

  .contenedor__heroSection {
    display: none;
  }

  /* arreglar mobile */
  .wrapper__heroSectionMobile {
    display: none;
  }

  /* revisar a los 800 */

  .contenedor__heroSectionDesktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: orchid;
    height: 550px;
  }

  .heroSection__imgDesktop {
    width: 150px;
    height: 250px;
    background: aqua;
  }

  .heroSection__electroMovilidad {
    width: 300px;
  }

  .electroMovilidad__botonera {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor__botonera {
    display: none;
  }

  /* titulo contenido */
  .contenedor__tituloContenido {
    display: none;
  }

  .contenedor__tituloContenidoDesktop {
    display: block;
  }

  .contenedor__tituloContenidoDesktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
  }

  /* banner interno scooter y primer carousel mobile*/

  .contenedor__bannerInternoScooters,
  .contenedor__firstCarousel {
    display: none;
  }

  /* section con banner y primer carousel Desktop*/

  .contenedor__bannerCarousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .banner__imgScooter {
    width: 250px;
    height: 300px;
    background: orange;
  }

  .contenedor__carouselPrimeroDesktop {
    width: 250px;
    height: 300px;
    background: salmon;
  }
}
